body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; /* Improves font rendering on macOS */
  -moz-osx-font-smoothing: grayscale; /* Improves font rendering on Firefox/macOS */
  text-rendering: optimizeLegibility; /* Optimizes for legibility */
}

header {
  background-color: #ffffff; /* Set the background color to white */
  /* border-bottom: 1px solid #ddd; */
  /* Removed sticky positioning */
  /* position: -webkit-sticky; For Safari */
  /* position: sticky; */
  /* Removed top and z-index */
}

header.scrolled {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Set background to semi-transparent */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Align the logo and links to the bottom */
  padding: 10px 60px;
  max-width: 1680px; /* Set the maximum width */
  margin: 0 auto; /* Center the navbar */
  width: 100%; /* Ensure it takes full width up to the max-width */
  font-family: 'Helvetica Neue', sans-serif; /* Apply globally to the navbar */
}

.logo img {
  height: 85px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 30px; /* Add spacing between link items */
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
  font-family: 'Helvetica Neue', sans-serif; /* Ensure 'Helvetica Neue' is applied */
  text-transform: uppercase; /* Make the links uppercase */
  transition: color 0.3s, text-decoration 0.3s; /* Smooth transition for hover effects */
  -webkit-font-smoothing: antialiased; /* Improves font rendering */
  -moz-osx-font-smoothing: grayscale; /* Improves font rendering on Firefox/macOS */
  text-rendering: optimizeLegibility; /* Optimizes for legibility */
}

.nav-links a:hover {
  color: #d3972d; /* Hover color */
  text-decoration: underline; /* Underline on hover */
}

.language-selector {
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif; /* Apply to the language selector */
}

.language-selector a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
}
